.track {
    margin: 0 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.track-info {
    width: 90%;
}
.track-title {
    margin: 0 0 .25rem 0;
}
.track-artist {
    margin: 0;
    font-weight: normal;
}
.add-or-remove-track-btn {
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
    background-image: url(../../img/add-default-icon.svg);
    outline: none;
    cursor: pointer;
}
.track-in-playlist {
    background-image: url(../../img/check-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;

}