* {
  color: #fff;
}
.featured-wrap {
  display: flex;
  max-width: 1400px;
  margin: 2rem auto 3rem;
}
@media only screen and (max-width: 800px) {
  .featured-wrap {
    flex-direction: column;
    margin: 0;
  }
}
.number-one-track-wrap {
  width: 40%;
  margin: 0 2rem 0 1rem;
}
@media only screen and (max-width: 800px) {
  .number-one-track-wrap {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
.number-one-track {
  position: sticky;
  top: 0;
  background-image: url(../../img/hot-tracks.png), url(../../img/fire-bg.png);
  background-size: 60%, contain;
  background-position: center 3vh, top center;
  background-repeat: no-repeat;
}
.number-one-track-info-wrap {
  width: calc(100% - 20vmin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.number-one-track-info {
  text-align: left;
}
.number-one-track-img:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1);
  cursor: pointer;
}
.number-one-track-img.track-in-playlist,
.number-one-track-img.track-in-playlist:hover {
  -webkit-box-shadow: 0px 0px 0px 2px rgba(33, 220, 82, 1);
  -moz-box-shadow: 0px 0px 0px 2px rgba(33, 220, 82, 1);
  box-shadow: 0px 0px 0px 2px rgba(33, 220, 82, 1);
}
.number-one-track-img {
  margin: 30% 0 0;
  width: calc(100% - 20vmin);
}
.number-one-track-title {
  font-size: 1.5rem;
  margin: 1rem 0 0.25rem 0;
}
.number-one-track-artist {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}
.featured-track-top-text {
  flex-basis: 100%;
  margin: 0 0 1rem 0;
  text-align: center;
}
.featured-tracks {
  display: flex;
  width: 60%;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 3rem;
}
@media only screen and (max-width: 800px) {
  .featured-tracks {
    width: 100%;
    margin: 1rem 0;
  }
}
.featured-tracks .track {
  width: calc((100% / 6) - 1rem);
}
@media only screen and (max-width: 1150px) {
  .featured-tracks .track {
    width: calc((100% / 3) - 1rem);
  }
}