.new-playlist {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #161616;
  padding: 2rem 2rem 1rem;
  border-radius: 20px;
  top: 1rem;
}
.playlist-name-input {
  width: calc(100% - 10vw);
  margin: 0 0 2rem 0;
  border: 0;
  border-bottom: 5px solid #fff;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
  text-align: center;
}
.playlist-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.playlist-item {
  position: relative;
  text-align: left;
  width: 100px;
  margin: 0 1rem 1rem 0;
}
.playlist-item img {
  left: 0;
  transition: all .5s;
}
.playlist-item-remove {
  position: absolute;
  top: -5px;
  right: -5px;
  background: url(../../img/delete-cross.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 25px;
  cursor: pointer;
}
.playlist-item img {
  width: 100%;
}
.playlist-item-name {
  margin: 0.25rem 0;
}
.playlist-item-artist {
  margin: 0;
  font-weight: normal;
}
#save-playlist {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: transparent;
  border: 3px solid #21dc52;
  color: #21dc52;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
#save-playlist:hover {
  background-color: #21dc52;
  color: #FFF;
}