.search-input {
  width: calc(100% - 50vw);
  margin: 5rem 0 1rem 0;
  border: 0;
  border-bottom: 5px solid #fff;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
  text-align: center;
}
.track-search-btn {
  background-color: transparent;
  border: 3px solid #21dc52;
  color: #21dc52;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
.track-search-btn:hover {
  background-color: #21dc52;
  color: #fff;
}
