.search-input-wrap {
  width: calc(100% - 50vw);
  position: relative;
  margin: 5rem auto 3rem auto;
}
.search-input {
  width: 100%;
  border: 0;
  border-bottom: 5px solid #fff;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
  text-align: center;
}
.track-search-btn {
  position: absolute;
  right: 0;
  bottom: 10px;
  background-color: transparent;
  border: none;
  color: #21dc52;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.track-search-btn:hover {
  background-color: #21dc52;
  color: #fff;
}
.search-results {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.search-results .track {
  width: calc((100% / 8) - 1rem);
  text-align: left;
  margin: .5rem;
}
@media only screen and (max-width: 750px) {
  .search-results .track {
    width: calc((100% / 3) - 1rem);
  }
}
.search-results .track h2 {
  font-size: 1rem;
}