.search-wrap {
  margin-top: 4rem;
}
.search-input-wrap {
  display: flex;
  align-content: space-around;
  width: 40vw;
  position: relative;
  margin: 5rem auto 3rem auto;
}
@media only screen and (max-width: 800px) {
  .search-input-wrap {
    width: calc(90vw);
  }
}
.search-input-wrap form {
  width: 80%;
  margin-right: 0.5rem;
}
.search-input {
  width: 100%;
  border: none;
  background-color: rgb(34, 34, 34);
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}
.track-search-btn {
  width: 15%;
  padding: 0.5rem 0;
  background-color: transparent;
  border: 1px solid #21dc52;
  color: #21dc52;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
@media only screen and (max-width: 800px) {
  .track-search-btn {
    width: 25%;
    padding: 0.5rem;
  }
}
.track-search-btn:hover {
  background-color: #21dc52;
  color: #fff;
}
.search-results {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.search-results .track {
  width: calc((100% / 8) - 1rem);
  text-align: left;
  margin: 0.5rem;
}
@media only screen and (max-width: 800px) {
  .search-results .track {
    width: calc((100% / 3) - 1rem);
  }
}
.search-results .track h2 {
  font-size: 1rem;
}
