.App {
  text-align: center;
  padding: 0 1rem;
}

.App-logo {
  width: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #090909;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  font-size: 22px;
}
h4 {
  font-size: calc(4px + 1vmin);
}
@media only screen and (max-width: 750px) {
  h4 {
    font-size: calc(4px + 2vmin);
  }
}
.connect-to-spotify-btn {
  background-color: transparent;
  border: 2px solid #FFF;
  color: #FFF;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  margin-left: 1rem;
}
.home-view-btn {
  background-color: transparent;
  border: none;
  color: #FFF;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  margin-left: 1rem;
}
.home-view-btn:hover {
  background-color: #1f1f1f;
  color: #FFF
}
.home-view-btn-active {
  background-color: #FFF;
  color: #1f1f1f;
}
.connect-to-spotify {
  width: 10vmax;
  height: 40vh;
  background-image: url(./img/music-man.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5rem auto 0;
  cursor: pointer;
}
.connect-to-spotify:hover {
  background-image: url(./img/music-man-hover.svg);
}
.connect-to-spotify:hover .connect-to-spotify-text {
  border-color: #32FFFF;
}
.connect-to-spotify-text {
  margin-top: 42vh;
  display: inline-block;
  border-bottom: 5px solid #FFF;
}