.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #090909;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  font-size: 22px;
}
h4 {
  font-size: calc(4px + 1vmin);
}
.search-input {
  width: 900px;
  margin: 2rem 0;
  border: 0;
  border-bottom: 5px solid #FFF;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  text-transform: uppercase;
  text-align: center;
}